<h1>Bog Critters</h1>
<%= link_to "New Critter", new_creature_path%>

<% @creatures.each do |creature| %>
  <p>
    <label>Name:</label> <%= link_to "#{creature.name}", creature_path(creature.id) %><br>
    <label>Description:</label> <%= creature.description %>
  </p>
<% end %>